venv/

__pycache__/

.ipynb_checkpoints/

*.pyc

*.pkl

*.joblib

*.pbix

.DS_Store

.env

data/processed/
*.csv

data/processed/
anaconda_projects/
.vscode/
__pycache__/
.ipynb_checkpoints/


# Python
__pycache__/
*.pyc

# Processed data
data/processed/

# VS Code
.vscode/

# Anaconda
anaconda_projects/

# Jupyter
.ipynb_checkpoints/

# CatBoost logs
notebooks/catboost_info/

